@font-face {
  font-family: "Titillium fonts";
  src: url("custom-fonts/TitilliumWeb-Black.ttf") format("truetype"),
    url("custom-fonts/TitilliumWeb-Bold.ttf") format("truetype");
}
body {
  font-family: "Titillium Web", sans-serif;
}
.header-area {
  background-color: rgb(135, 80, 156);
  padding: 50px 0px;
}
.container {
  width: 80%;
  margin: auto;
}
.logo-area {
  width: 30%;
  float: left;
}
.main-menu {
  width: 70%;
  float: left;
}
.header-top {
  overflow: hidden;
  background-color: rgb(135, 80, 156);
  padding: 20px 0px;
}
.uk-sticky-fixed {
  background-color: rgba(0, 0, 0, 0.5);
}
.main-menu ul {
  margin: 0px;
  padding: 0px;
  float: right;
}
.main-menu ul li {
  float: left;
}
.main-menu ul {
  overflow: hidden;
}
.main-menu ul li a {
  padding: 8px 20px;
  margin-left: 2px;
  display: block;
  color: rgb(255, 255, 255);
  font-family: "Titillium Web";
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
}
.main-menu ul li a:hover,
.main-menu ul li a.active {
  background-color: rgb(100, 58, 121);
}
.header-bottom {
  padding: 100px 0px;
  text-align: center;
}
.header-bottom h2 {
  color: rgb(247, 243, 234);
  font-size: 43px;
  line-height: 45px;
}
.call-to-action-header a {
  background-color: rgb(235, 125, 75);
  padding: 15px 50px;
  margin: 30px auto auto;
  color: rgb(247, 243, 234);
  font-size: 16px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: rgb(200, 106, 64) 0px 5px 0px;
}
.call-to-action-header a:hover {
  box-shadow: rgb(200, 106, 64) 0px 0px 0px;
  background-color: rgb(200, 106, 64);
  text-decoration: none;
  color: rgb(247, 243, 234);
}
.services-area {
  background-color: rgb(23, 194, 164);
  padding: 50px 0px;
}
.services-area .container > h2 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 5px;
}
.container hr {
  border-bottom: 5px solid rgb(20, 165, 140);
  width: 10%;
  border-radius: 30px;
  margin: auto;
}
.services-area .container > p {
  font-size: 19px;
  color: rgb(255, 255, 255);
  width: 60%;
  margin: auto;
  text-align: center;
}
.services-boxes {
  text-align: center;
  margin-top: 50px;
}
.services-boxes .box h2 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services-boxes .box p {
  color: rgb(255, 255, 255);
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
.team-area {
  background-color: rgb(231, 241, 248);
}
.team-area .container > h2 {
  color: rgb(60, 71, 97);
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  padding-top: 60px;
  letter-spacing: 3px;
  font-size: 30px;
}
.team-area .container hr {
  width: 5%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid rgb(200, 217, 229);
  border-radius: 2px;
  margin: auto;
}
.team-area .container > p {
  font-size: 15px;
  color: rgb(60, 71, 97);
  width: 60%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
.team-boxes {
  text-align: center;
  padding-bottom: 70px;
}
.boxes .circle img {
  width: 200px;
  height: 200px;
  background-color: rgb(135, 135, 135);
  border-radius: 100px;
  margin: auto;
}
.boxes h2 {
  margin: 20px 0px 0px;
  font-size: 22px;
}
.boxes p {
  margin: 2px 0px 15px;
  font-size: 15px;
  color: rgb(140, 209, 238);
}
.boxes .about-circle {
  color: rgb(144, 153, 168);
  width: 60%;
  margin: auto;
}
.team-social {
  text-align: center;
}
.team-social .circle1 {
  width: 7%;
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(189, 209, 223);
}
.skill-area {
  background-color: rgb(255, 255, 255);
  padding: 50px 0px;
}
.skill-area .container > h2 {
  font-size: 30px;
  color: rgb(60, 71, 97);
  margin: 0px;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 5px;
}
.container hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid rgb(223, 232, 237);
  width: 5%;
  border-radius: 30px;
  margin: auto;
}
.skill-area .container > p {
  font-size: 15px;
  color: rgb(129, 135, 149);
  width: 35%;
  margin: auto;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 20px;
}
.pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center;
}
.pie-value {
  display: block;
  position: absolute;
  font-size: 40px;
  font-weight: 400;
  height: 40px;
  color: rgb(86, 96, 118);
  top: 50%;
  left: 0px;
  right: 0px;
  margin-top: -20px;
  line-height: 40px;
}
.container {
  width: 70%;
  margin: auto;
}
.skill-boxes {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}
.skill-boxes .box2 h2 {
  color: rgb(60, 71, 97);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.portfolio-area {
  background-color: rgb(255, 221, 153);
  padding: 50px 0px;
}
.portfolio-area .container > h2 {
  font-size: 30px;
  color: rgb(60, 71, 97);
  margin: 0px;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 5px;
}
.container hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid rgb(229, 195, 127);
  width: 5%;
  border-radius: 30px;
  margin: auto;
}
.portfolio-area .container > p {
  font-size: 15px;
  color: rgb(57, 57, 57);
  width: 23%;
  margin: auto;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 20px;
}
.portfolio-menu {
  width: 34%;
  margin: auto;
}
.portfolio-menu ul {
  overflow: hidden;
  padding-bottom: 20px;
}
.portfolio-menu ul li {
  float: left;
}
.portfolio-menu ul li a {
  padding: 6px 20px;
  display: block;
  color: rgb(57, 57, 57);
  font-family: "Titillium Web";
  font-size: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: rgb(235, 201, 133);
  margin-right: 5px;
  cursor: pointer;
  text-decoration: none;
}
.portfolio-menu ul li a:hover,
.portfolio-menu ul li a.on {
  background-color: rgb(255, 255, 255);
}
.portfolio-img-layout h5 {
  text-transform: uppercase;
  color: rgb(57, 57, 57);
  font-size: 15px;
  margin: 15px 0px 30px;
  text-align: center;
}
.call-to-action-portfolio {
  text-align: center;
}
.call-to-action-portfolio a {
  background-color: rgb(23, 194, 164);
  padding: 15px 40px;
  margin: 30px auto 20px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: rgb(20, 165, 140) 0px 5px 0px;
}
.call-to-action-portfolio a:hover {
  box-shadow: rgb(20, 165, 140) 0px 0px 0px;
  background-color: rgb(20, 165, 140);
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.about-us-area {
  background-color: rgb(215, 70, 128);
  padding-top: 10px;
}
.about-us-area .container > h2 {
  font-size: 28px;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.container hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid rgb(183, 60, 109);
  width: 4%;
  border-radius: 30px;
  margin: auto;
}
.about-us-area .container > p {
  font-size: 13px;
  color: rgb(255, 255, 255);
  width: 23%;
  margin: auto;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 50px;
}
.about-us-layout {
  width: 95%;
  overflow: hidden;
  margin: auto;
  padding-bottom: 70px;
  padding-left: 65px;
}
.about-us-layout i {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.about-us-layout h2 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin: 16px 0px 0px;
}
.about-us-layout p {
  color: rgb(240, 171, 143);
  font-size: 12px;
  margin: 2px 0px 0px;
}
.layout1-left-left img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-bottom: 10px;
}
.layout1-right-left img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-bottom: 10px;
}
.layout2-left-left img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.layout2-right-left img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.get-in-touch-area {
  background-color: rgb(60, 84, 153);
  padding-top: 10px;
}
.container {
  width: 60%;
  margin: auto;
}
.get-in-touch-area .container > h2 {
  font-size: 28px;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.container hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid rgb(39, 58, 113);
  width: 4%;
  border-radius: 30px;
  margin: auto;
}
.get-in-touch-area .container > p {
  font-size: 15px;
  color: rgb(255, 255, 255);
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 50px;
  letter-spacing: 1.5px;
}
.username {
  overflow: hidden;
  margin-bottom: 20px;
}
.username input {
  font-size: 20px;
  background-color: rgb(39, 58, 114);
  padding: 10px;
  color: rgb(255, 255, 255);
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  display: block;
  width: 100%;
}
.username .name-field {
  width: 48%;
  float: left;
  position: relative;
}
.username .email-field {
  width: 48%;
  float: right;
  position: relative;
}
.message-field {
  width: 102%;
  position: relative;
}
.name-field label {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 12px;
  left: 17px;
}
.email-field label {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 12px;
  left: 17px;
}
.message-field label {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 12px;
  left: 17px;
}
.name-field label span {
  color: red;
}
.email-field label span {
  color: red;
}
.message-field label span {
  color: red;
}
.contact-box textarea {
  font-size: 20px;
  background-color: rgb(39, 58, 114);
  padding: 10px;
  color: rgb(255, 255, 255);
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  width: 98%;
}
.contact-box textarea::placeholder {
  color: rgb(255, 255, 255);
}
.get-in-touch-bottom {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 70px;
}
.get-in-touch-bottom input {
  color: rgb(255, 255, 255);
  background-color: rgb(48, 186, 231);
  padding: 15px 50px;
  font-size: 12px;
  border-radius: 3px;
  display: inline-block;
  box-shadow: rgb(41, 158, 197) 0px 5px 0px;
  border: hidden;
  cursor: pointer;
}
.get-in-touch-bottom input:hover {
  box-shadow: transparent 0px 0px 0px;
  background-color: rgb(41, 158, 197);
}
.footer-area {
  background-color: rgb(52, 75, 142);
  padding: 25px 0px;
}
.footer-menu ul {
  text-align: center;
}
.footer-menu ul li {
  display: inline-block;
}
.footer-menu ul li a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 30px;
  font-weight: bold;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: rgb(48, 186, 231);
}
