@font-face {
  font-family: "Titillium fonts";
  src: url("custom-fonts/TitilliumWeb-Black.ttf") format("truetype"),
    url("custom-fonts/TitilliumWeb-Bold.ttf") format("truetype");
}
body {
  font-family: "Titillium Web", sans-serif;
}
.header-area {
  background-color: #87509c;
  padding: 50px 0;
}
.middle-area {
  width: 80%;
  margin: auto;
}
.logo-area {
  width: 30%;
  float: left;
}
.main-menu {
  width: 70%;
  float: left;
}
.header-top {
  overflow: hidden;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  float: right;
}
.main-menu ul li {
  float: left;
}
.main-menu ul {
  overflow: hidden;
}
.main-menu ul li a {
  padding: 8px 20px;
  display: block;
  color: #fff;
  font-family: Titillium Web;
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
}
.main-menu ul li a:hover,
.main-menu ul li a.active {
  background-color: #643a79;
}
.header-bottom {
  padding: 100px 0;
  text-align: center;
}
.header-bottom h2 {
  color: #f7f3ea;
  font-size: 43px;
  line-height: 15px;
}
.call-to-action-header a {
  background-color: #eb7d4b;
  padding: 15px 50px;
  margin: auto;
  color: #f7f3ea;
  font-size: 16px;
  display: inline-block;
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: 0 5px 0px #c86a40;
}
.call-to-action-header a:hover {
  box-shadow: 0 0 0 #c86a40;
}
/* services area style start here  */
.services-area {
  background-color: #17c2a4;
  padding: 50px 0;
}
.services-area .middle-services > h2 {
  font-size: 40px;
  color: #fff;
  margin: 0;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 5px;
}
.middle-services hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5px solid #14a58c;
  width: 10%;
  border-radius: 30px;
}
.services-area .middle-services > p {
  font-size: 19px;
  color: #fff;
  width: 60%;
  margin: auto;
  text-align: center;
}
.middle-services {
  width: 80%;
  margin: auto;
}
.services-boxes {
  text-align: center;
  margin-top: 50px;
}
.services-boxes .box {
  width: 23%;
  display: inline-block;
}
.services-boxes .box h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services-boxes .box p {
  color: #fff;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
/* services area style end here  */
/* team introduce area style start here  */
.team-area {
  background-color: #e7f1f8;
}
.team-area .middle-team > h2 {
  color: #3c4761;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 60px;
  letter-spacing: 3px;
  font-size: 30px;
}
.team-area .middle-team hr {
  width: 5%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #c8d9e5;
  border-radius: 2px;
  margin-bottom: 15px;
}
.team-area .middle-team > p {
  font-size: 15px;
  color: #3c4761;
  width: 60%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
.middle-team {
  width: 85%;
  margin: auto;
}
.team-boxes {
  text-align: center;
  padding-bottom: 70px;
}
.team-boxes .boxes {
  width: 24%;
  display: inline-block;
}
.boxes .circle {
  width: 200px;
  height: 200px;
  background-color: #878787;
  border-radius: 100px;
  margin: auto;
}
.boxes h2 {
  margin: 20px 0 0 0;
  font-size: 22px;
}
.boxes p {
  margin: 2px 0 15px 0;
  font-size: 15px;
  color: #8cd1ee;
}
.boxes #about-circle {
  color: #9099a8;
  width: 60%;
  margin: auto;
}
.team-social {
  text-align: center;
}
.team-social .circle1 {
  width: 7%;
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
  color: #bdd1df;
}
/* team introduce area style end here    */
