@font-face {
  font-family: "Titillium fonts";
  src: url("custom-fonts/TitilliumWeb-Black.ttf") format("truetype"),
    url("custom-fonts/TitilliumWeb-Bold.ttf") format("truetype");
}
body {
  font-family: "Titillium Web", sans-serif;
}
/* header area style start here  */
.header-area {
  background-color: #87509c;
  padding: 50px 0;
}
.container {
  width: 80%;
  margin: auto;
}
.logo-area {
  width: 30%;
  float: left;
}
.main-menu {
  width: 70%;
  float: left;
}
.header-top {
  overflow: hidden;
  background-color: #87509c;
  padding: 20px 0;
}
.uk-sticky-fixed {
  background-color: rgba(0, 0, 0, 0.5);
}
.main-menu ul {
  margin: 0;
  padding: 0;
  float: right;
}
.main-menu ul li {
  float: left;
}
.main-menu ul {
  overflow: hidden;
}
.main-menu ul li a {
  padding: 8px 20px;
  margin-left: 2px;
  display: block;
  color: #fff;
  font-family: Titillium Web;
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
}
.main-menu ul li a:hover,
.main-menu ul li a.active {
  background-color: #643a79;
}
.header-bottom {
  padding: 100px 0;
  text-align: center;
}
.header-bottom h2 {
  color: #f7f3ea;
  font-size: 43px;
  line-height: 45px;
}
.call-to-action-header a {
  background-color: #eb7d4b;
  padding: 15px 50px;
  margin: auto;
  color: #f7f3ea;
  font-size: 16px;
  display: inline-block;
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: 0 5px 0px #c86a40;
}
.call-to-action-header a:hover {
  box-shadow: 0 0 0 #c86a40;
  background-color: #c86a40;
  text-decoration: none;
  color: #f7f3ea;
}
/* header area style end here  */
/* services area style start here  */
.services-area {
  background-color: #17c2a4;
  padding: 50px 0;
}
.services-area .container > h2 {
  font-size: 40px;
  color: #fff;
  margin: 0;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 5px;
}
.container hr {
  border-bottom: 5px solid #14a58c;
  width: 10%;
  border-radius: 30px;
  margin: auto;
}
.services-area .container > p {
  font-size: 19px;
  color: #fff;
  width: 60%;
  margin: auto;
  text-align: center;
}

.services-boxes {
  text-align: center;
  margin-top: 50px;
}

.services-boxes .box h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services-boxes .box p {
  color: #fff;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
/* services area style end here  */
/* team introduce area style start here  */
.team-area {
  background-color: #e7f1f8;
}
.team-area .container > h2 {
  color: #3c4761;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 60px;
  letter-spacing: 3px;
  font-size: 30px;
}
.team-area .container hr {
  width: 5%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #c8d9e5;
  border-radius: 2px;
  margin-bottom: 15px;
  margin: auto;
}
.team-area .container > p {
  font-size: 15px;
  color: #3c4761;
  width: 60%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}

.team-boxes {
  text-align: center;
  padding-bottom: 70px;
}
.boxes .circle img {
  width: 200px;
  height: 200px;
  background-color: #878787;
  border-radius: 100px;
  margin: auto;
}
.boxes h2 {
  margin: 20px 0 0 0;
  font-size: 22px;
}
.boxes p {
  margin: 2px 0 15px 0;
  font-size: 15px;
  color: #8cd1ee;
}
.boxes .about-circle {
  color: #9099a8;
  width: 60%;
  margin: auto;
}
.team-social {
  text-align: center;
}
.team-social .circle1 {
  width: 7%;
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
  color: #bdd1df;
}
/* team introduce area style end here    */
/* skill area style start here  */
.skill-area {
  background-color: #fff;
  padding: 50px 0;
}
.skill-area .container > h2 {
  font-size: 30px;
  color: #3c4761;
  margin: 0;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 5px;
}
.container hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #dfe8ed;
  width: 5%;
  border-radius: 30px;
  margin: auto;
}
.skill-area .container > p {
  font-size: 15px;
  color: #818795;
  width: 35%;
  margin: auto;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 20px;
}
.pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center;
}
.pie-value {
  display: block;
  position: absolute;
  font-size: 40px;
  font-weight: 400;
  height: 40px;
  color: #566076;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -20px;
  line-height: 40px;
}
.container {
  width: 70%;
  margin: auto;
}
.skill-boxes {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}
.skill-boxes .box2 h2 {
  color: #3c4761;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* skill area style end here  */
/* portfolio area style start here  */
.portfolio-area {
  background-color: #ffdd99;
  padding: 50px 0;
}
.portfolio-area .container > h2 {
  font-size: 30px;
  color: #3c4761;
  margin: 0;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 5px;
}
.container hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #e5c37f;
  width: 5%;
  border-radius: 30px;
  margin: auto;
}
.portfolio-area .container > p {
  font-size: 15px;
  color: #393939;
  width: 23%;
  margin: auto;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 20px;
}
.portfolio-menu {
  width: 34%;
  margin: auto;
}
.portfolio-menu ul {
  overflow: hidden;
  padding-bottom: 20px;
}
.portfolio-menu ul li {
  float: left;
}
.portfolio-menu ul li a {
  padding: 6px 20px;
  display: block;
  color: #393939;
  font-family: Titillium Web;
  font-size: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #ebc985;
  margin-right: 5px;
  cursor: pointer;
  text-decoration: none;
}
.portfolio-menu ul li a:hover,
.portfolio-menu ul li a.on {
  background-color: #fff;
}
.portfolio-img-layout h5 {
  text-transform: uppercase;
  color: #393939;
  font-size: 15px;
  margin: 15px 0 30px 0;
  text-align: center;
}

.call-to-action-portfolio {
  text-align: center;
}
.call-to-action-portfolio a {
  background-color: #17c2a4;
  padding: 15px 40px;
  margin: auto;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 5px 0px #14a58c;
}
.call-to-action-portfolio a:hover {
  box-shadow: 0 0 0 #14a58c;
  background-color: #14a58c;
  text-decoration: none;
  color: #fff;
}
/* portfolio area style start here  */
/* about us area style start here  */
.about-us-area {
  background-color: #d74680;
  padding-top: 10px;
}
.about-us-area .container > h2 {
  font-size: 28px;
  color: #fff;
  margin: 0;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.container hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #b73c6d;
  width: 4%;
  border-radius: 30px;
  margin: auto;
}
.about-us-area .container > p {
  font-size: 13px;
  color: #fff;
  width: 23%;
  margin: auto;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 50px;
}
.about-us-layout {
  width: 80%;
  overflow: hidden;
  margin: auto;
  padding-bottom: 70px;
}
.about-us-layout i {
  color: #fff;
  font-size: 12px;
}
.about-us-layout h2 {
  color: #fff;
  font-size: 16px;
  margin: 16px 0 0 0;
}
.about-us-layout p {
  color: #f0ab8f;
  font-size: 12px;
  margin: 2px 0 0 0;
}

.layout1-left-left img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-bottom: 10px;
}

.layout1-right-left img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-bottom: 10px;
}

.layout2-left-left img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.layout2-right-left img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* about us area style end here  */
/* get in touch style start here  */
.get-in-touch-area {
  background-color: #3c5499;
  padding-top: 10px;
}
.container {
  width: 60%;
  margin: auto;
}
.get-in-touch-area .container > h2 {
  font-size: 28px;
  color: #fff;
  margin: 0;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.container hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #273a71;
  width: 4%;
  border-radius: 30px;
  margin: auto;
}
.get-in-touch-area .container > p {
  font-size: 15px;
  color: #fff;
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 50px;
  letter-spacing: 1.5px;
}

.username {
  overflow: hidden;
  margin-bottom: 20px;
}
.username input {
  font-size: 20px;
  background-color: #273a72;
  padding: 10px;
  color: #fff;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  display: block;
  width: 100%;
}
.username .name-field {
  width: 48%;
  float: left;
  position: relative;
}
.username .email-field {
  width: 48%;
  float: right;
  position: relative;
}
.message-field {
  width: 102%;
  position: relative;
}
.name-field label {
  color: #fff;
  position: absolute;
  top: 12px;
  left: 17px;
}
.email-field label {
  color: #fff;
  position: absolute;
  top: 12px;
  left: 17px;
}
.message-field label {
  color: #fff;
  position: absolute;
  top: 12px;
  left: 17px;
}
.name-field label span {
  color: red;
}
.email-field label span {
  color: red;
}
.message-field label span {
  color: red;
}
.contact-box textarea {
  font-size: 20px;
  background-color: #273a72;
  padding: 10px;
  color: #fff;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  width: 98%;
}
.contact-box textarea::placeholder {
  color: #fff;
}
.get-in-touch-bottom {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 70px;
}
.get-in-touch-bottom input {
  color: #fff;
  background-color: #30bae7;
  padding: 15px 50px;
  font-size: 12px;
  border-radius: 3px;
  display: inline-block;
  box-shadow: 0 5px 0 #299ec5;
  border: hidden;
  cursor: pointer;
}
.get-in-touch-bottom input:hover {
  box-shadow: 0 0 0 transparent;
  background-color: #299ec5;
}
/* get in touch style end here  */
/* footer area style start here  */
.footer-area {
  background-color: #344b8e;
  padding: 25px 0;
}
.footer-menu ul {
  text-align: center;
}
.footer-menu ul li {
  display: inline-block;
}
.footer-menu ul li a {
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  font-weight: bold;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: #30bae7;
}
/* footer area style end here  */
